aiohttp==3.8.1
aiosignal==1.2.0
alpha-vantage==2.3.1
async-timeout==4.0.2
attrs==21.4.0
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.12
click==7.1.2
dash==2.2.0
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-daq==0.5.0
dash-extensions==0.0.71
dash-html-components==2.0.0
dash-table==5.0.0
EditorConfig==0.12.3
Flask==1.1.4
Flask-Caching==1.10.1
Flask-Compress==1.11
frozenlist==1.3.0
idna==3.3
itsdangerous==1.1.0
Jinja2==2.11.3
jsbeautifier==1.14.0
lxml==4.8.0
MarkupSafe==2.0.1
more-itertools==8.12.0
multidict==6.0.2
multitasking==0.0.10
mysql==0.0.3
mysqlclient==2.1.1
mysql-connector==2.2.9
newtulipy==0.4.6
numpy==1.22.2
packaging==21.3
pandas==1.4.1
patsy==0.5.2
pip==21.2.3
plotly==5.6.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
scipy==1.8.0
setuptools==57.4.0
six==1.16.0
statsmodels==0.13.2
tenacity==8.0.1
urllib3==1.26.8
Werkzeug==1.0.1
yarl==1.7.2
yfinance==0.1.70
ptvsd==4.3.2 # Required for debugging.
google-cloud-storage==1.40.0